.customer-header {
    display: flex;
}

.customer-header div {
    margin-left: 10px;
    border: 1px solid #ededed;
    border-radius: 4px;
    width: 40%;
    display: flex;
    align-items: center;
    color: #737373
}

.customer-header div input {
    width: 90%;
    height: 100%;
    padding: 0px;
    border: none;
    font-size: 14px;
    outline:none;
    padding-left: 10px;
}

@media (max-width: 698px) {
    .customer-header div {
        width: 100%;
    }

    .customer-header div input {
        font-size: 14px;
        width: 85%;
    }

    .customer-header {
        display: grid;
        grid-template-column: 1fr 1fr;
        grid-template-areas: 
            "createCustomer generateReport"
            "searchBlock searchBlock"
    } 

    .customer-header button:first-child {
        grid-area: createCustomer;
        width: fit-content
    }

    
    .customer-header button:last-child {
        grid-area: generateReport
    }

    .customer-header div {
        grid-area: searchBlock;
        margin-left: 0px;
        margin-top: 10px;
        height: 30px;
    }

    .customer-header div input {
        width: 90%
    }

    .customer-header div svg {
        font-size: 20px;
    }
}