.customer-header {
    display: flex;
}

.customer-header div {
    margin-left: 10px;
    border: 1px solid #ededed;
    border-radius: 4px;
    width: 40%;
    display: flex;
    align-items: center;
    color: #737373
}

.customer-header div input {
    width: 90%;
    height: 100%;
    padding: 0px;
    border: none;
    font-size: 14px;
    outline:none;
    padding-left: 10px;
}

@media (max-width: 698px) {
    .customer-header div {
        width: 100%;
    }

    .customer-header div input {
        font-size: 14px;
        width: 85%;
    }
}