.customer-header {
    display: flex;
}

.customer-header div {
    margin-left: 10px;
    border: 1px solid #ededed;
    border-radius: 4px;
    width: 40%;
    display: flex;
    align-items: center;
    color: #737373
}

.customer-header div input {
    width: 90%;
    height: 100%;
    padding: 0px;
    border: none;
    font-size: 14px;
    outline:none;
    padding-left: 10px;
}

.customer-sortByBlock {
    display: flex;
    margin-top: 20px;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
}

.customer-sortByBlock div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.customer-sortByBlock div button {
    padding: 4px 10px;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    transition: border-color 0.5s, color 0.5s, background-color 0.5s;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.customer-sortByBlock div button:hover {
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9;
}

@media (max-width: 698px) {
    .customer-sortByBlock {
        font-size: 12px;
    }

    .customer-sortByBlock div button {
        font-size: 10px;
        padding: 2px 6px;
    } 

    .customer-header div {
        width: 100%;
    }

    .customer-header div input {
        font-size: 14px;
        width: 85%;
    }

    .customer-header {
        display: grid;
        grid-template-column: 1fr 1fr;
        grid-template-areas: 
            "createCustomer generateReport"
            "searchBlock searchBlock"
    } 

    .customer-header button:first-child {
        grid-area: createCustomer;
        width: fit-content
    }

    
    .customer-header button:last-child {
        grid-area: generateReport
    }

    .customer-header div {
        grid-area: searchBlock;
        margin-left: 0px;
        margin-top: 10px;
        height: 30px;
    }

    .customer-header div input {
        width: 90%
    }

    .customer-header div svg {
        font-size: 20px;
    }
}