.createCustomer-container {
    position: fixed;
    width: calc(100% - 240px);
    height: 100vh;
    display: grid;
    top: 0;
    right: 0;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.createCustomer {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.createCustomer-innerBlock {
    max-height: 90vh;
    overflow: auto;
}

.createCustomer-innerBlock::-webkit-scrollbar {
    width: 6px
}

.createCustomer-innerBlock::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 4px;;
}

.createCustomer-innerBlock::-webkit-scrollbar-thumb {
    background: #d9d9d9; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for thumb */
}

.createCustomer-innerBlock::-webkit-scrollbar-thumb:hover {
    background: #999999; /* Darker color when hovering over the thumb */
}

.createCustomer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}

.createCustomer-header svg {
    font-size: 16px;
    background-color: #e6e6e6;
    border-radius: 50%;
    padding: 2px;
    transition: background-color 0.5s;
}

.createCustomer-header svg:hover {
    background-color: #bfbfbf;
}

.createCustomer-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 60%; */
}

.createCustomer-block input {
    width: calc(100% - 10px);
}

.createCustomer-block p {
    margin: 0;
}

.createCustomer-full-column {
    grid-column: span 2;
    width: calc(100% - 20px) !important;
}

.createCustomer-block div p {
    font-size: 12px;
    font-weight: 500;
}

.createCustomer-block div {
    margin: 10px;
    width: 260px;
}

.createCustomer-block div input {
    border: 1.5px solid #e9e9e9;
    height: 30px;
    padding: 0px 4px;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s; 
}

.createCustomer-block div input:focus,
.createCustomer-block div select:focus {
    border-color: #4643d3 !important;;
}

.createCustomer-block div select {
    border: 1px solid #e9e9e9;
    height: 30px;
    padding: 0px 4px;
    border-radius: 4px;
    width: 100%;
}

.createCustomer-btns {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.createCustomer-btns input {
    border: none;
    font-weight: 500;
    padding: 0px 10px;
    background-color: #4643d3;
    color: #fff;
    transition: background-color 0.5s;
    border-radius: 4px;
}

.createCustomer-btns input:hover {
    background-color: #232197;
}

.createCustomer-btns button {
    background-color: #d9d9d9;
    font-size: 14px;
}

@media (max-width: 998px) {
    .createCustomer-container {
        width: 100%
    }

    .createCustomer-header {
        font-size: 16px;
    }
    
    .createCustomer-header svg {
        font-size: 14px;
    }

    .createCustomer-block {
        grid-template-columns: 1fr;
    }

    .createCustomer-full-column {
        grid-column: span 1;
    }

    .createCustomer-block div p {
        font-size: 10px;
    }

    .createCustomer-block div input {
        font-size: 14px;
    }
}